<div class="about-container">
  <div class="line"></div>
  <h2>About Me</h2>
  <p>I`m practicing programming on WebStorm using both Windows and Ubuntu.
    Mainly HTML5, CSS3 and JavaScript are the core of my projects. For some of them I use Bootstap library on basic level.
    latest project was based on requests to RESTful API with JSON Web Tokens,
    that gave me an understanding of CRUD operations and way of implementing security in API requests.</p>
  <p>Have english pre-intermediate skill of written and spoken,
    experience in HTML5, CSS3, Javascript, TypeScript, git, Angular 2+.
  </p>
</div>
