.line{
  border-bottom: 4px solid black;
  width: 400px;
  padding-top: 28px;
  text-align: center;
  margin-left: 50px;
  position: absolute;
}
.about-container{
  width: 500px;
  padding: 10px;
  background: mintcream;
  border-radius: 6px;
  box-shadow: 0 1px 3px 3px gray;
}
.about-container h2{
  margin: 3px;
  left: 140px;
  width: 200px;
  font-size: 45px;
  z-index: 10;
  position: relative;
  background: mintcream;
}
