<div class="portfolio">
  <div class="portfolio--container">
    <img class="portfolio--img" src="../../assets/photo.jpg">
    <div class="portfolio--details">
      <div class="header-portfolio">
        <p id="hello">Hello</p>
        <h2>I`m <span class="bold">Vlad Senchuk</span></h2>
        <p>Junior Frond-end developer </p>
      </div>
      <table class="detail-table">
        <tbody>
        <tr>
          <td class="bold">Age:</td>
          <td>24</td>
        </tr>
        <tr>
          <td class="bold">E-MAIL:</td>
          <td>veliantos@gmail.com</td>
        </tr>
        <tr>
          <td class="bold">PHONE:</td>
          <td>+380687063857</td>
        </tr>
        <tr>
          <td class="bold">Studding JS:</td>
          <td>from 07.04.2017</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="socials">
    <a href="https://www.facebook.com/neitiris"><i class="fa fa-facebook"></i></a>
    <a href="https://www.linkedin.com/in/vladislav-senchuk-94b57a168/"><i class="fab fa-linkedin"></i></a>
    <a href="https://github.com/neitiris"><i class="fab fa-github"></i></a>
    <a href="tg://resolve?domain=neitiris"><i class="fab fa-telegram"></i></a>
  </div>
</div>
