<div class="skills-container">
  <h1 class="skill-logo">My Skills</h1>
<ul class="skill-item">
  <li>
    <h4>HTML & CSS</h4>
    <div class="progress" id="html-line"><span>50%</span></div>
  </li>
  <li>
    <h4>JavaScript</h4>
    <div class="progress" id="js-line"><span>45%</span></div>
  </li>
  <li>
    <h4>Angular</h4>
    <div class="progress" id="angular-line"><span>47%</span></div>
  </li>
  <li>
    <h4>Bootstrap</h4>
    <div class="progress" id="bootstrap-line"><span>15%</span></div>
  </li>
</ul>
</div>
