<div class="background-img"></div>
<div class="landing-container">
  <header>
    <a href="#" class="bigLogo">Big Logo</a>

    <ul>
      <li>
        <a href="/land">HOME</a>
      </li>

      <li>
        <a href="/about">ABOUT</a>
      </li>

      <li>
        <a href="">PORTFOLIO</a>
      </li>

      <li>
        <a href="/skills">SKILLS</a>
      </li>

      <li>
        <a href="#">PRICING</a>
      </li>

      <li>
        <a href="#">BLOG</a>
      </li>

      <li>
        <a href="#">CALENDAR</a>
      </li>

      <li>
        <a href="#">CONTACT</a>
      </li>

      <li>
        <a href="#">OTHER</a>
      </li>

      <li>
        <div class="menu-header-btn">
          <button class="dropbtn"><i class="fas fa-bars"></i></button>
          <div class="dropdown-content">
            <a href="#">Link 1</a>
            <a href="#">Link 2</a>
            <a href="#">Link 3</a>
          </div>
        </div>
      </li>
    </ul>
  </header>
  <div class="settings-btn"><a href="/login"><i class="fa fa-cog"></i></a></div>
  <div class="content-container">
    <router-outlet></router-outlet>
  </div>
</div>
