<div class="dash-container">
  <!--Table with list from backend-->
  <div class="table-box">
    <div class="search-userlist">
      <select id="search-type-select" (change)=searhusertag($event.target.value) >
        <option value="companyName">by Company name</option>
        <option value="firstName">by First name</option>
        <option value="email" selected>by email</option>
        <option value="phoneNumber1">by phone number</option>
      </select>
      <input type="text" placeholder="Search..." (keyup)="searchfunc($event)">
    </div>
    <table>
      <thead>
      <tr>
        <th><input type="checkbox" (click)="check()" [checked]="options.checkedAll"></th>
        <th>Id</th>
        <th>Name</th>
        <th>Email</th>
        <th>Company</th>
        <th>Created</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of usersList">
        <td class="checkbox"><input type="checkbox" [checked]="item.checked" class="checkbox" (click)="check(item)"/></td>
        <td class="id-td">{{item.id}}</td>
        <td class="name-collumn">{{item.firstName}}</td>
        <td class="email-column">{{item.email}}</td>
        <td class="company-column">{{item.companyName}}</td>
        <td class="created-id">{{item.createdAt}}</td>
        <td class="edit"><button class="editCl" (click)="goToDetails(this.item.id)">
          <i class="fa fa-edit"></i></button></td>
        <td class="delete-column">
          <button *ngIf="false" class="deleteCl" (click)="deleteUserData(this.item.id)" >
          <i *ngIf="false" class="fa fa-trash"></i></button></td>
        </tr>
      </tbody>
    </table>
    <div class="pagination">
      <select (change)= chooseshowed($event.target.value)>
        <option value="5">5</option>
        <option value="10">10</option>
        <option value="15" selected>15</option>
        <option value="20">20</option>
      </select>
      <button (click)="paginate('first')"><<</button>
      <button (click)="paginate(-1)"><</button>
      <span> {{numpage}} of {{pages}} pages </span>
      <button (click)="paginate(1)">></button>
      <button (click)="paginate('last')">>></button>
    </div>
    <button id="createU" (click)="createUser()">Create User</button>
    <button id="delU" >Delete Marked Users</button>
  </div>
  <!--End of Table with list from backend-->
</div>


